* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  color: $color-icons;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: antiquewhite;
  height: 100%;
  padding: 45px;

  &__img {
    width: 250px;
    /*margin-bottom: 35px;
    margin-top: 95px;*/

    @media all and (min-width: 768px) {
      margin-bottom: 31px;
    }
  }

  &__title {
    font-family: $font-title;
    font-size: 19.2px;
    width: 270px;
    height: 24px;
    line-height: 19.2px;
    color: $color-primary;

    @media all and (min-width: 768px) {
      width: 278px;
      font-size: 24px;
      font-weight: 900;
    }
  }

  &__subtitle {
    font-family: $font-primary;
    width: 250px;
    font-size: 12.8px;
    color: rgba(87, 65, 65, 0.808);
    line-height: 25px;
    margin-block: 12px;
    font-weight: normal;
    line-height: normal;
    padding-bottom: 10px;

    @media all and (min-width: 768px) {
      width: 331px;
      font-size: 16px;
      font-weight: normal;
    }
  }

  &__container {
    width: 268px;
    border: 2px solid rgba(87, 65, 65, 0.808);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0px;

    @media all and (min-width: 768px) {
      width: 325px;
      font-weight: normal;
    }
  }

  &__icon {
    font-size: 22.4px;

    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__text {
    color: rgba(87, 65, 65, 0.808);
    font-size: 12.8px;

    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__button {
    text-decoration: none;
    color: $color-background-cards;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 127px;
    height: 42px;
    border-radius: 21px;
    line-height: 42px;
    border-radius: 21px solid $color-primary;
    background-color: $color-primary;
    margin-top: 40px;
    font-family: $font-primary;
  }
}

.m-icon {
  width: 74.5px;
}
